<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2026 Blaauboer Group. Site forked from <a href="https://www.allanlab.org/aboutwebsite.html">Allan Lab</a></p>
              
		   <p>  </p><p>

		</div>
		<div class="col-sm-4">
		<p>We are part of the <a href="https://www.tudelft.nl/en/faculty-of-applied-sciences/about-faculty/departments/quantum-nanoscience/">Department of NanoScience</a> and the <a href="https://kavli.tudelft.nl">Kavli Insititute of NanoScience</a> at <a href="https://www.tudelft.nl/en/"> Delft University of Technology</a>. </p>
		</div>
		<div class="col-sm-4">
		  Contact:<br />
Geschwister-Scholl-Platz 1<br />
		  80539 München<br />
		  Germany <br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
