<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2026 Blaauboer Group. Site forked from <a href="https://www.allanlab.org/aboutwebsite.html">Allan Lab</a></p>
              
		   <p>  </p><p>

		</div>
		<div class="col-sm-4"> 
		<p>We are part of the <a href="https://www.tudelft.nl/en/faculty-of-applied-sciences/about-faculty/departments/quantum-nanoscience/">Department of NanoScience</a> and the <a href="https://kavli.tudelft.nl">Kavli Insititute of NanoScience</a> at <a href="https://www.tudelft.nl/en/"> Delft University of Technology</a>. </p>
		</div>
		<div class="col-sm-4">
		  Contact:<br />
Department of Quantum Nanoscience<br />
		  Delft University of Technology<br />
		  Lorentzweg 1 <br />
	      2628 CJ Delft <br />
		  The Netherlands <br />
			(<a href="https://www.google.com/maps/place/TU+Delft+Faculteit+Technische+Natuurkunde/@52.0012733,4.3732671,18z/data=!4m6!3m5!1s0x47c5b58d85b3cd4d:0x516554c8488b3d5e!8m2!3d52.0008509!4d4.3744044!16s%2Fg%2F1vnrk5yx?entry=ttu&g_ep=EgoyMDI2MDkyMC4wIKXMDSoASAFQAw%3D%3D">maps</a>) <br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
